.image{
    height: 50%;
    width: 50%;
}

div{
    margin-left: 2em;
    font-family: "Lucida Console", "Courier New", monospace;
}

.navBar{
    display: flex;
    justify-content: space-around;
    font-family: "Lucida Console", "Courier New", monospace;
    align-items: center;
    min-height: 10vh;
    background: rgb(73, 79, 82);
    color: azure;
}

.frontPageImg{
    height: 50%;
    width: 50%;
}

.formOut{
    text-align: center;
}

.formIn{
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin: auto;
}

input{
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;

}

.submit{
    background-color: black;
    color: whitesmoke;
}

menu.navBar a {
    color: white;
    font-weight: bold;
}